body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2979ff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.form-container {
    padding: 20px;
    width: 350px;
}

.registration-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.terms input {
    margin-right: 10px;
}

.terms label {
    font-size: 14px;
    color: #333;
}

button {
    background-color: #2979ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #1565c0;
}

.registration-form p {
    margin-top: 20px;
    color: #333;
}

.registration-form a {
    color: #2979ff;
    text-decoration: none;
}

.form-info {
    background-color: #2979ff;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.form-info h1 {
    font-size: 50px;
    margin: 0;
}
