body {
    margin: 0px;
    display: block;
}

header {
    margin: 0px;
}

.upper_nav {
    margin: 0px 165px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    height: 40px;
    width: 110px;
    top: 6px;
}


h1.brand {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    height: 25px;
    width: 92px;
    font-size: 20px;
    font-weight: 700;
    font-family: Plus Jakarta Sans;
    line-height: 25.2px;
    color: #000;
}

img.icon {
    width: 33px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: center; */
    align-items: center;
}

.profile_icon {
    height: 32px;
    width: 32px;
    border: 1px #AFAFAF;
    margin-right: 3.5px;
}

.profile_name {
    height: 16px;
    /* width: 83px; */
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.73.px;
    display: inline;
    margin: 0px 3.5px;
}

h3.name {
    display: inline;
}

.dropdown {
    margin: 0px 3.5px;
}

img.dropdown_icon {
    height: 5px;
    width: 10px;
}

.lower_nav {
    margin: 0px 165px;
    /* padding: 10px; */
    border-bottom: 1px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.filters {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: #000;
    margin: 0px 10px;
    display: inline-block;
}

hr.seprator {
    display: inline;
    color: #E6E6E6;
    border-width: 1px;
}

.cb_div {
    margin: 0px 10px;
    display: inline;
}

.cb_text {
    display: inline-block;
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 15.73px;
    color: #797979;
}

.cd_box {
    display: inline-block;
}

select#Created\ By {
    height: 34px;
    width: 161px;
    border-radius: 45px;
    background-color: #f0f1f1;
    border: 0px;
    font-size: 13px;
    font-weight: 400;
    font-family: Inter;
    line-height: 15.73px;
    /* font-variant-position: 10px; */
}
